@use "./variables.scss";

.container {
  max-width: variables.$containerWidth;
  margin-inline: auto;
  padding: 30px;

  @media(variables.$tablet) {
    padding-block: 50px;
    padding-inline: variables.$containerPadding;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}